.homepage__header{
    background-color: rgba(0, 0, 0, .5);
}


.header__container{
    max-width: var(--container-max-width);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.profile__container #profile__name{
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.profile__picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#button__logout{
    background-color: var(--btnBgColor);
    border-radius: 15px;
    color: white;
    font-weight: 600;
    border: 1px solid transparent;
    height: 2em;
    transition: .2s;
    cursor: pointer;
    width: 100px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button__logout:hover{
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: transparent;    
    color: #fff;
}

#creating__post__containers{
    padding: 20px 0 40px;
    width: 100%;
}

.creating__post__windows{
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px;
    gap: 10px;

}

.creating__post__windows  #button__post{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 5px 20px;
    color: white;
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.2s;
}
.creating__post__windows  #button__post:hover{
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: transparent;
    color: rgba(0, 0, 0, .5);
}

.creating__post__windows #post__text__area{
    border: 2px solid var(--defaultGrey);
    border-radius: 15px;
    width: 100%;
    resize: none;
    padding: 10px;
    height: 8em;
    box-sizing: border-box;
}


#post__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.post__card{
    background-color: var(--cardBgColor);
    padding: 30px 30px 10px;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
}
.post__card__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card__user__picture{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card__user__button__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card__user__button__container .button__edit{
    background-color: var(--blueBtnBg);
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    color: white;
}
.card__user__button__container .button__edit:hover{
    border: 1px solid var(--blueBtnBg);
    background-color: transparent;
    color: var(--blueBtnBg);
}

.card__user__button__container .button__delete{
    background-color: var(--redBtnBg);
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

.card__user__button__container .button__delete:hover{
    border: 1px solid var(--redBtnBg);
    background-color: transparent;
    color: var(--redBtnBg);
}


.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.user__name{
    margin: 0;
}
.id-in-user-name{
    color: gray;
    font-size: 0.5em;
    font-weight: 400;
    font-style: italic;
}
.post__editing__area{
    width: 90%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    box-shadow: 2px 2px 0 800vw rgba(0, 0, 0, 0.8)
}

.post__editing__area .post__content__editing__text__area{
    width: 100%;
    height: 9em;
    resize: none;
    border: 2px solid var(--defaultGrey);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.post__editing__area .button__confirm{
    background-color: var(--greenBtnBg);
}
.post__editing__area .button__confirm:hover{
    background-color: transparent;
    color: var(--greenBtnBg);
    border: 1px solid var(--greenBtnBg);
}

.post__editing__area .button__cancel{
    background-color: var(--redBtnBg);
}
.post__editing__area .button__cancel:hover{
    background-color: transparent;
    color: var(--redBtnBg);
    border: 1px solid var(--redBtnBg);
}

.post__content{
    width: 100%;
    text-align: center;
}

.post-text{
    color: var(--cardDefaultTextColor);
    font-size: 0.9em;
    margin: 0;
}

.date__container{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.date__container .post__date{
    font-size: 0.8em;
    font-style: italic;
    color: gray;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 800px;
    }
    .post__editing__area{
        max-width: 800px;
    }

    .card__user__button__container{
        max-width: 120px;
    }
    .post__card__container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
    .post__content{
        text-align: start;
    }
    
}
